html{
	/* background-color:#2F2F2F; */
}

body.login_page{
	height: 100%;
    background-color: #3F51B5;
    background-image: url('../img/login-bg.png');
}

.page-topbar {
    background-color: #3F51B5;
    box-shadow: 0 2px 4px rgba(33,33,33,.2);
    -webkit-box-shadow: 0 2px 4px rgba(33,33,33,.2);
    -moz-box-shadow: 0 2px 4px rgba(33,33,33,.2);
    -o-box-shadow: 0 2px 4px rgba(33,33,33,.2);
    -ms-box-shadow: 0 2px 4px rgba(33,33,33,.2); 
}

.teste {
	font-size: 14px;
    color: #ffffff;
}